.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.git/**
.github/**
.husky/**
node_modules/**
scripts/**
vs-code-imgur-plugin/**
.git-blame-ignore-revs
.prettierignore
DEVELOPMENT.md
eslint.config.js
sonar-project.properties
vitest.config.js
changelog.md
versions.json
